# Deployment buildout
# ===================

[buildout]
parts =
    ${buildout:varnish-parts}
    ${buildout:nginx-parts}
    ${buildout:runscript-parts}
    ${buildout:vhosts-parts}
    ${buildout:statusinfo-parts}
    supervisor

extends =
    packages.cfg
    buildout.d/varnish.cfg
    buildout.d/nginx.cfg
    buildout.d/runscript.cfg
    buildout.d/vhosts.cfg
    buildout.d/statusinfo.cfg
    sources.cfg

auto-checkout =

# Make sure buildout never attempts to update packages automatically for
# production use.
always-checkout = false

# Create local caches so we get self contained buildouts
eggs-directory = /opt/buildout-cache/eggs
download-cache = /opt/buildout-cache/downloads
extends-cache = /opt/buildout-cache/extends

# Host names/IP addresses. See below for corresponding ports.
[hosts]
main            = 127.0.0.1
# The host that nginx proxies to
nginx-backend   = ${:varnish}
# The hostname/address that Varnish binds to
varnish         = localhost
# The hosts that are allowed to issue PURGE reuqests to Varnish
allow-purge     = localhost
# The IP address that Varnish proxies to (do not use a hostname)
varnish-backend = 127.0.0.1
# The hostname that HAProxy binds to
haproxy         = localhost
# Where to find the syslog deamon to log to
syslog          = localhost
# The hostname that memcached binds to
memcached       = localhost
# The hostname that supervisord binds to
supervisor      = localhost
# The public hostname used in virtual hosting, i.e. the public facing domain
public          = s1.ade25.de
# The static sites hosted in /opt/www/ and deloyed via Nginx
static1         = friseur-valentino.de
static2         = gastrogruppe-schwaben.de
static3         = glasperlen-kreativlabor.de
static4         = salon-bergmann.de
static5         = leimer-projektbau.com
static6         = plakatwerbung-maerzke.de
static6-1       = plakatwerbung-augsburg.de
static7         = konze-laur.de
static8         = werk86.de
static9         = rga.coraggio.de
static10        = daz.coraggio.de
static11        = responsive.coraggio.de
static12        = carpet-crew.de
static12-1      = carpet-crew.com
static13        = blaenk.de
static14        = chiarapadovan.com
static15        = claudia-osterkamp.de
static16        = cocolores.net
static17        = comodo-immobilien.de
static18        = dani-und-serge.de
static19        = die-lebensspirale.de
static20        = eisglut.de
static21        = arminschimak.de
static22        = fluequal-kompetenzbilanz.de
static23        = frazil-records.com
static24        = gastroenterologie-lindau.de
static25        = grow-com.de
static26        = karlinger.de
static26-1      = karlinger-ag.de
static26-2      = karlinger-gmbh.de
static27        = new-discipline.de
static28        = nugzblacky.com
static29        = plentyoftime.de
static30        = reisemobilstellplaetze.com
static31        = sport4-you.de
static32        = steiner-finanz.de
static33        = strizrep.de
static34        = sushi-ist-sbar.de
static35        = eisley.kreativkombinat.de
static36        = naegele.kreativkombinat.de
static37        = kreativkombinat.de
static37-1      = kreativkombinat.com
static37-2      = kreativsound.de
static37-3      = augsburg-multimedia.de
static37-4      = augsburg-werbeagentur.de
static37-5      = multimedia-augsburg.de
static37-6      = werbeagentur-augsburg.de
static38        = tormenta.de
static39        = tvwillmatshofen.de
static40        = rms.kreativkombinat.de
static41        = hofolding.kreativkombinat.de
static42        = karina-stieler.de
static42-1      = abraxas-werbegrafik.de
static43        = yesnut.de
static44        = dae.coraggio.de



# Port corresponding to the hostnames above. Note that to bind to ports
# < 1024, you will need to run ./bin/supervisord as root!
[ports]
http            = 80
https           = 443
nginx           = 8100
nginx-backend   = ${:varnish}
varnish         = 8100
varnish-backend = ${:nginx}
haproxy         = 8200
haproxy-stats   = 8222
instance-debug  = 8499
syslog          = 514
memcached       = 11211
database        = 3306
supervisor      = 9001

[users]
# Process owners for nginx, varnish, haproxy, memcached and Zope
nginx            = www
varnish          = www
haproxy          = www
zope-process     = www
memcached        = www

# System user accounts for Zope root admin, database access and Supervisor
zope-admin       = zope-admin
database         = zope
supervisor-admin = supervisor-admin

# Passwords for the accounts above
[passwords]
zope-admin       = walootw11
database         = secret
supervisor-admin = %(X"s7pU"5V

# Database instances for SQLAlchemy and RelStorage
[databases]
optilux = optilux
zodb    = zodb

[locations]
templates = ${buildout:directory}/vhosts
config = ${buildout:directory}/etc/vhosts

# How should varnish store its cache? Increase thesize, in megabytes, as required
[varnish-options]
storage = malloc,1024M
tuning = -p thread_pools=4

[limits]
# How many open files are allowed? This affects the number of concurrent
# connections. On some operating systems, this is set on startup per user
# as the ulimit
open-files = 8000
# Timeout of inactivity for Beaker sessions
session-timeout = 600

[urls]
# This URL is used in the nginx configuration to serve an error page when
# HAProxy detects no viable backend
fallback = /system-error

[sites]
# Static site names - used in virtual hosting
static1         = valentino
static2         = gastrogruppe
static3         = glasperlen
static4         = bergmann
static5         = leimer
static6         = maerzke
static7         = konze
static8         = werk86
static9         = rga
static10        = daz
static11        = rwd
static12        = carpetcrew
static13        = blaenk
static14        = pixerette
static15        = osterkamp
static16        = cocolores
static17        = comodo
static18        = dus
static19        = lebensspirale
static20        = eisglut
static21        = schimak
static22        = fluequal
static23        = frazil
static24        = kaufmann
static25        = grow
static26        = karlinger-v2
static27        = nd
static28        = nb
static29        = pot
static30        = rms
static31        = sport4-you
static32        = steiner
static33        = strizrep
static34        = sbar
static35        = eisley
static36        = naegele-banner
static37        = v9
static38        = tormenta
static39        = tvw
static40        = rms-stage
static41        = hofolding
static42        = stieler
static43        = yesnut
static44        = dae

# Install supervisor, which runs on port 9001
# Run: ``bin/supervisord``
# Run: ``bin/supervisorctl --help``
[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${users:supervisor-admin}
password = ${passwords:supervisor-admin}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
programs =
    10 nginx                     ${nginx-build:location}/sbin/nginx true



